.project-gallery {
  padding: 3rem 2rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.gallery-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}


@media (max-width: 500px){
.project-gallery{
  padding: 0 1rem;
}
}