.project-three-images {
  padding: 3rem 2rem;
  background: linear-gradient(to bottom, #fff 0%, #eaf4ef 100%);
}

.three-img-flex {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.three-img-flex img {
  flex: 1 1 calc(33.33% - 1rem);
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 500px){
.project-three-images{
  padding: 0 1rem 2rem;
}
}