.aboutt-hero {
  background: url('/pagess.jpg') no-repeat center center/cover;
  padding: 250px 20px;
  position: relative;
  text-align: center;
  color: white;
  height: 60vh;
}

.about-hero h1 {
  font-family: 'Lora', serif;
  font-size: 2.8rem;
padding-top: 100px;
}

.policy-page {
  font-family: 'Inter', sans-serif;
}

.policy-container {
  max-width: 1000px;
  margin: 50px auto 50px;
  background: white;
  padding: 40px;
  border-radius: 16px;
}

.policy-container h2 {
  font-family: 'Lora', serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

.policy-container h3 {
  margin-top: 30px;
  font-size: 1.3rem;
  color: var(--primary-green);
}

.policy-container p {
  font-size: 1rem;
  line-height: 1.7;
  color: #333;
  margin-bottom: 1rem;
}
