.services-section {
  padding: 80px 20px;
  background-color: #EDEDED;
  text-align: center;
}

.services-title {
  font-family: var(--font-heading);
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.services-subtext {
  font-family: var(--font-body);
  font-size: 1rem;
  color: var(--text-dark);
  margin-bottom: 60px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.services-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 30px;
  justify-content: center;
  margin-bottom: 40px;
  width: 80%;
  margin: auto;
}

.services-card {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.services-card:hover .services-img {
  transform: scale(1.05);
}

.services-card:hover .services-label {
  transform: scale(1.03);
  font-weight: 700;
}

.services-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  object-fit: cover;
}

.services-label {
  margin-top: 12px;
  font-family: var(--font-body);
  font-size: 0.85rem;
  color: var(--text-dark);
  transition: transform 0.3s ease, font-weight 0.3s ease;
}


.services-btn:hover {
  background-color: #699f7e;
}

/* Responsivo */
@media (max-width: 500px) {
  .services-subtext {
    font-size: 0.95rem;
    padding: 0 10px;
  }

  .services-img {
    width: 80px;
    height: 80px;
  }
}

