@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.booking-section {
  background: linear-gradient(to bottom, #fff 0%, #eaf4ef 100%);
  padding: 5rem 2rem;
  font-family: 'Inter', sans-serif;
}

.booking-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.booking-left {
  flex: 1 1 400px;
}

.booking-left h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.booking-left h2 span {
  color: #7CAF8E;
  font-weight: 700;
}

.booking-left p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #333;
  max-width: 400px;
}

.highlight {
  color: #7CAF8E;
}

.contact-block {
  margin-bottom: 2rem;
}

.contact-block p {
  margin: 0.3rem 0;
  font-size: 0.95rem;
}

.booking-form {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

input,
textarea, select {
  border: 2px solid #7CAF8E;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  resize: vertical;
}

input:focus,
textarea:focus {
  border-color: #5e9b7d;
}

.full-width {
  flex: 1 1 100%;
}

.submit-btn {
  background-color: #7CAF8E;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 20px;
  align-self: center;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #689f7c;
}

/* Responsivo */
@media (max-width: 500px) {
.booking-left h2{
  font-size: 1.8rem;
  text-align: center;
}
.booking-left p{
  text-align: center;
}
.booking-section{
  padding: 5rem 1.5rem;
}
}

@media (max-width: 768px) {
  .booking-container {
    flex-direction: column;
  }

  .form-row {
    flex-direction: column;
  }

  .submit-btn {
    align-self: center;
  }
}
