.why-tred-section {
  padding: 4rem 2rem;
  background-color: #fff;
  background-image: url('/bgChoose.png'); 
}

.why-tred-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.why-tred-titles {
  display: flex;
  justify-content: space-between;
  gap: 17rem;
  padding-bottom: 100px;
}

.why-tred-titles h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  max-width: 350px;
}

.why-tred-titles .highlight {
  color: #7CAF8E;
}

.why-tred-titles p {
  font-size: 1rem;
  color: #333;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  text-align: right;
}

.why-tred-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 3rem;
  position: relative;
}

.why-tred-card {
  background-color: white;
  border: 2px solid #7CAF8E;
  border-radius: 16px;
  padding: 2.5rem 1.5rem 2rem;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
  position: relative;
  width: 250px;
  text-align: center;
}

.why-tred-icon-wrapper {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.why-tred-icon-circle {
  width: 60px;
  height: 60px;
  background: linear-gradient(180deg, #7CAF8E 0%, #ffffff 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.why-tred-icon-circle img {
  width: 40px;
  height: 40px;
}

.why-tred-card-content {
  margin-top: 2rem;
}

.why-tred-card-content h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000;
}

.why-tred-card-content p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.5;
}

.why-tred-cta {
  background-color: #7CAF8E;
  color: white;
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.why-tred-cta:hover {
  background-color: #689f7c;
}

@media (max-width: 500px) {
  .why-tred-titles{
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem 4rem 1rem;
  }

  .why-tred-titles h2{
    text-align: center;
    font-size: 1.2rem;
    max-width: 380px;
  }

  .why-tred-titles p{
    text-align: center;
    font-size: 0.9rem;
    max-width: 380px;
  }

  .why-tred-card-content{
    margin-top: 1rem;

  }

  .why-tred-grid{
    gap: 3rem;
    padding: 0 1.5rem 0 1.5rem;
  }

  .why-tred-card-content h3{
    font-size: 0.9rem;
  }

  .why-tred-card-content p{
    font-size: 0.7rem;
  }

  .why-tred-card{
    padding: 1.5rem 1rem 1rem;
  }
}