.product-hero {
  background-image: url('/products-hero.png'); /* Substitua pela imagem correta */
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-overlay h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 500px){
.product-overlay h1{
  font-size: 2rem;
}
}